.container{
    width:100vw ; 
    height:50vh;
    background-color: black;}

            .primeiro{
                width: 20vw;
                height: 20;
                background-color: royalblue;
                
            }
            
        
            .segundo{
                width: 20vw;
                height: 20vh;
                background-color: red;
            }
            

            
        

















    
    
